<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Habit Tracker</a>
    <a class="nav-link text-dark" href="#" onclick="redirectToCurrentWeekRecords()">Track Habits</a>
  </nav>
  <div class="container mt-5">
    <h3>Add a Habit</h3>
    <form action="/habits/createHabit/" method="post">
      <div class="form-group">
        <label for="habitName">Habit Name</label>
        <input type="text" class="form-control" id="habitName" name="habitName" required>
      </div>
      <button type="submit" class="btn btn-success">Add Habit</button>
    </form>
    <hr>
    <h3>Current Habits</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Habit Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% allHabitsObj.forEach(function(habit){ %>
          <tr>
            <td>
              <%= habit.title %>
            </td>
            <td>
              <a href="/habits/delete/<%= habit._id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>