/* Styling for habit.ejs */

td {
  height: 100px;
  width: 100px;
}

.custom-switch-label::before {
  background-color: #007bff;
}

.custom-switch-input:checked+.custom-switch-label::before {
  background-color: #28a745;
}

#currentView{
  position: absolute;
  top: 25%;
  left: 70%;
}

.toggle {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: absolute;
  left: 80%;
}

.toggle input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle input:checked+.toggle-label {
  background-color: #66bb6a;
}

.toggle input:checked+.toggle-label:after {
  transform: translateX(26px);
}

#dayView {
  display: none;
}

button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media (width<=1200px) {
  #currentView{
    position: absolute;
    top: 25%;
    left: 65%;
  }
}

@media (width<=770px) {
  #currentView{
    position: absolute;
    top: 25%;
    left: 60%;
  }
}

@media (width<=530px) {
  #currentView{
    position: absolute;
    top: 25%;
    left: 50%;
  }
}